//MEDIA QUERY VALUES
$S:480px;
$SM: 560px;
$M:760px;
$L:960px;
$XL:1200px;
$HUGE:1600px;

//Primary
$cap-blue: rgb(0,154,191); //#009bbf
$cap-gray: rgb(195,198,200); //#c3c7ca
$cap-red: rgb(178,30,40); //#b41f28
$cap-black: rgb(0,0,0); //#000000

//Secondary
$cap-orange: rgb(222,139,5); //#de8d28
$cap-green: rgb(69,161,66); //#44a448
$cap-purple: rgb(89,44,130); //#592c82

//COLORS
$base-font-color:#333333;
$link-color: darken(red,25%);
$link-color-event: darkent($link-color,15%);
$link-event-text-decoration: none;
$body-bg-color: darken(#ffffff,35%);

$brand-primary:$cap-blue;
$brand-secondary:$cap-green;
$brand-accent:$cap-red;
$warning:$brand-accent;

//BREAKPOINTS FOR NEAT (http://thoughtbot.github.io/neat-docs/latest/)
$mobile: new-breakpoint(max-width $SM);
$tablet: new-breakpoint(min-width 561px);
$desktop: new-breakpoint(min-width $L 4);
$extralarge: new-breakpoint(min-width $XL 4);

$use-font-face-module:true;//required for first $font declaration
$use-font-two: false;
$use-font-three: false;
$font: 'arial';
$font-two: 'futurapt';
$font-three: 'courierprime';
$use-font-awesome: 'true';

//TYPOGRAPHY
$base-font-size:16px;
$base-font-family:$font,$helvetica;
$heading-font-family:$base-font-family;

//BUTTONS
$button-text-align:center;

//CONTENT
$content-max-width: 800px;

//INPUTS
$placeholder-text-color: white;
$placeholder-text-opacity: 1;
$placeholder-text-font-size: 12px;


//SOCIAL MEDIA COLORS
$twitter:#00aced;
$github:#AB5B50;
$youtube:#bb0000;
$googleplus:#dd4b39;
$facebook:#3b5998;
$rss:#FF6600;
$pinterest:#cb2027;
$instagram:#517fa4;
$linkedin:#007bb6;
$vine:#00bf8f;
$tumblr:#32506d;
$vimeo:#aad450;
$foursquare:#0072b1;
