//Sass architecture (very) slightly modified from Sass guidelines: http://sass-guidelin.es/
@charset 'UTF-8';

// VENDOR
@import 'bourbon/bourbon';
@import 'neat/neat';

// 1. Configuration and helpers
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/mediaqueries';

// 2. Base styles
@import 'base/normalize';
@import 'base/base';
@import 'base/fonts';
@import 'base/typography';
@import 'base/helpers'; //helper classes (may not be necessary with Bourbon/neat)

// 3. Layout-related sections
@import 'layout/header';
@import 'layout/footer';

// 4. Components
// @import 'components/buttons';

// 5. Page-specific styles
@import 'pages/home';

// 6. Themes
@import 'themes/default';

//For gulp starter homepage. Delete as needed.
//

body {
	background-color: darken(#ffffff,10%);
}

main.main {
  width: 90%;
  max-width: 35em;
  @include center;
  a {
    color: $link-color;
    text-decoration: underline;
  }
}
