@import "bourbon/bourbon";
@import "neat/neat";
@import "partials/partials";

h1 {
	color: red;
}

main > div {
	@include outer-container;
	height:200px;
	section {
		@include span-columns(6);
		background-color:#01589B;
	}
}

