/// Center element horizontally within parent element; **note:** does not take parameters
/// @access public
/// @example scss - Usage
///   div.keep-in-middle {
///     @include center;
///   }
/// @example css - CSS Output
///   div.keep-in-middle {
///     display:block;
///     margin-right: auto;
///     margin-left: auto;
///   }
///

@mixin center {
  display: block;
	margin-right: auto;
	margin-left: auto;
}

/// Will center the element vertically, horizontally, or both (default). Note that element will be centered in relation to nearest `position: relative;` parent element.
/// @access public
/// @param {Bool} $horizontal [true]
///   Center the element horiztonally
/// @param {Bool} $vertical [true]
///   Center the element vertically
/// @example scss - Usage
///   div.centered {
///    @include centerer;
///   }
///
/// @example css - CSS Output
///   div.centered {
///     position:absolute;
///     top: 50%;
///     left: 50%;
///     transform: translate(-50%, -50%);
///   }
@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}