@charset "UTF-8";

/**
 * Set up a decent box model on the root element
 */

html {
  box-sizing: border-box;
  font-family: $base-font-family;
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
}


/**
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

*,
*::before,
*::after {
  box-sizing: inherit;
}


/**
 * Basic styles for links
 */

a {
  color: $link-color;
  text-decoration: none;
  @include on-event {
    color: $link-color-event;
    text-decoration: $link-event-text-decoration;
  }
}

img {
  width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

p {
  margin-bottom: 1em;
  margin-top: 0px;
}
